@import '../../theme/variables';

.formation h2 {
    color: $white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 56px;
}

@media(min-width: 1280px) {
    .formation {
        margin-top: 120px;
    }
}