@import '../../theme/variables';
@import '../../theme/reset.scss';

body {
    font-family: 'DM Sans', sans-serif;
    background-color: $dark;
}

.page_container {
    margin: 0 20px;
}

.contact {
    margin-top: 56px;
}

@media(min-width: 1280px) {
    .page_container {
        max-width: 1110px;
        margin: auto;
    }

    .contact {
        margin-top: 100px;
    }
}