@import '../../theme/variables';
@import '../../../public/assets/styles/reset.scss';

body {
    font-family: 'DM Sans', sans-serif;
    background-color: $dark;
}

.page_container {
    margin: 0 20px;
}

.contact {
    margin-top: 56px;
}