@import '../../theme/variables';

.about-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
}

.about-container h2 {
    color: $white;
    font-size: 25px;
    font-weight: 700;
}

.about-container p {
    color: $gray;
    line-height: 20px;
    font-size: 14px;
}