@import '../../theme/variables';

.contact-container {
    flex-direction: column;
    gap: 20px;
}

.illustration {
    display: none;
}

.flip {
    display: block;
}

@media(min-width: 1280px) {
    .flip {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .illustration {
        display: block;
    }

    .contact-container {
        width: 240px;
    }
}