@import '../../theme/variables';

.footer {
    height: 40px;
    background-color: $gray-400;
    flex-direction: column;
    justify-content: center;
    margin-top: 56px;
}

.footer p {
    font-size: 12px;
    text-align: center;
    color: $white;
}

.footer span {
    color: $green-light;
}