@import '../../../theme/variables';

.titulo_principal {
    color: $white;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

@media(min-width: 1280px) {
    .titulo_principal {
        text-align: left;
        font-size: 32px;
    }
}