@import '../../../../public/assets/styles/variables.scss';

.titulo_principal {
    color: $white;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}